@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inter:wght@500&family=Nunito&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1F1D2B;
  font-family: "Nunito", sans-serif;
  color: #fafafa;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  margin-top: 2%;
}

h1 {
  text-align: center;
  color: #C15B1C;
  font-family: "Permanent Marker", sans-serif;
}
h2{
  text-align: center;
  color: #1E8D63;
  font-family: "Permanent Marker", sans-serif;
}
p{
  font-size: 20px;
}
div{   
  text-align: center;
}

div p {
  margin-right: 10px;
}
.restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E8D63;
  font-size: 20px;
  font-family: "Permanent Marker", sans-serif;
}

.datos{
  margin-top: 50px;
}

a {
  text-decoration: none;
}



a:link {
  color: #C15B1C;
}

a:active {
  color: #1E8D63; 
}


ul {
  text-align: start;
}

li {
  margin-top: 10px;
  font-size: 20px;
}



button {
  width: 100px;
  height: 50px;
  margin: 3%;
}
button:hover {
  cursor: pointer;
}

.button-container {
  display: flex;
justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.button-56 {
  align-items: center;
  background-color: #C15B1C;
  border: 2px solid #C15B1C;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "Permanent Marker", sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #1E8D63;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}





@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
}
}

@media (max-width: 767px) {
  .restaurant {
    flex-direction: column;
  }
  p {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
}